# Lavalink file
Lavalink.jar

# logs
*.log
logs
bot-logs

# pycache
*.pyc

# tests
tests

# .vscode editor files
.vscode

# templates
template.*

# emoji packs and images
emoji-pack
img

# bot token and genius auth token - configs
data/bot-config.json
data/*-config.json 
# ^ all other configs

# playlists
data/playlists.json

# settings
data/settings.json

# cache folder
data/.cache

# releases
releases

# config
config